@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bg-section3-img1, .bg-section3-img2, .bg-section3-img3, .bg-section3-img4, .bg-section3-img5{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-section3-img1{
  background-image: url('../../public/section3/1.jpg');
}

.bg-section3-img2{
  background-image: url('../../public/section3/2.jpg');
}

.bg-section3-img3{
  background-image: url('../../public/section3/3.jpg');
}

.bg-section3-img4{
  background-image: url('../../public/section3/4.jpg');
}

.bg-section3-img5{
  background-image: url('../../public/section3/55.jpg');
}

/* 4th section */

.section4-bg{
  background-image: url('../../public/shop-de8ddf10.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
