.bgimage1{
    background-image:url('../../../../public/carouselimages/bg01.jpg');
}

.bgimage2{
    background-image:url('../../../../public/carouselimages/bg02.jpg');
}

.bgimage3{
    background-image:url('../../../../public/carouselimages/bg03.jpg');
}

.bgimage4{
    background-image:url('../../../../public/carouselimages/bg04.jpg');
}

.bgimage5{
    background-image:url('../../../../public/carouselimages/bg05.jpg');
}

.bgimage6{
    background-image:url('../../../../public/carouselimages/bg06.jpg');
}

.bgimage7{
    background-image:url('../../../../public/carouselimages/bg07.jpg');
}

.bgimage8{
    background-image:url('../../../../public/carouselimages/bg08.jpg');
}

.bgimage9{
    background-image:url('../../../../public/carouselimages/bg09.jpg');
}

.bgimage10{
    background-image:url('../../../../public/carouselimages/bg10.jpg');
}

.bgimage11{
    background-image:url('../../../../public/carouselimages/bg11.jpg');

}

.bgimage12{
    background-image:url('../../../../public/carouselimages/bg12.jpg');
}

.bgimage13{
    background-image:url('../../../../public/carouselimages/bg13.jpg');
}

.bgimage14{
    background-image:url('../../../../public/carouselimages/bg14.jpg');
}

.bgimage15{
    background-image:url('../../../../public/carouselimages/bg15.jpg');
}

.bgimage16{
    background-image:url('../../../../public/carouselimages/bg16.jpg');
}

.bgimage17{
    background-image:url('../../../../public/carouselimages/bg17.jpg');
}

.bgimage18{
    background-image:url('../../../../public/carouselimages/bg18.jpg');
}

.bgimage19{
    background-image:url('../../../../public/carouselimages/bg19.jpg');
}

.bgimage20{
    background-image:url('../../../../public/carouselimages/bg20.jpg');
}
